* {
    padding: 0;
    margin: 0;
    outline: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300 !important;
}

html,
body {
    height: 100%;
}



body {
    font-family: 'OptimaLTCYR-Roman';
    background: #F6EDE8;
    color: #000;
}

::selection {
    background: rgba(248, 210, 211, .35);
}

::-moz-selection {
    background: rgba(248, 210, 211, .35);
}

a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
}


.left {
    float: left !important;
}

.right {
    float: right !important;
}

.light {
    font-weight: 200;
}

.medium {
    font-weight: 500;
}

.clearfix {
    clear: both;
}

.wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

header,
footer {
    width: 100%;
}

header {
    height: 700px;
    position: relative;
}

.bg {
    background: url("../imgs/bg3.jpg") center -0px no-repeat;
    background-size: cover;
    height: 100%;
}

.main-nav {
    padding-top: 40px;
    position: relative;
}

.main-nav a,
#burger .menu li a {
    text-transform: uppercase;
    font-family: 'EngraversGothic';
    letter-spacing: 0.8px;
    text-align: center;
    margin-right: 67px;
    display: inline-block;
    line-height: 50px;
    position: relative;
    transition: color .3s;
    font-size: 12px;
    font-weight: 300;
}


.main-nav a:last-child {
    margin-right: 0 !important;
}

.main-nav a.logo {
    text-transform: uppercase;
    font-family: 'OptimaLTCYR-Roman';
    font-size: 2em;
    top: 10px;
    position: absolute;
    left: 50%;
    margin: 0;
    margin-left: -100px;
    width: 200px;
    z-index: 1;
    transition: color .3s;
}

.logo svg {
    /* width: 200px; */
}

#burger .logo {
    z-index: 9999;
    left: 0;
}

.main-nav a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    background: #fff;
    bottom: 14px;
    left: 0;
}

.fixed .main-nav a::after {}

.main-nav a:hover::after,
.main-nav a.active::after {
    width: 100%;
}

.main-nav a.active::after {
    opacity: 1;
}

.main-nav a.active {
    pointer-events: none;
    cursor: default;
}

.main-nav a.logo::after {
    display: none !important;
}

.section {
    background: #f6ede8;
    text-align: center;
    padding: 60px 0;
}

.section h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}

.section p {
    line-height: 30px;
    margin: 0 auto;
    width: 622px;
    margin-top: 40px;
    font-size: 16px;
}

.btn {
    font-family: 'EngraversGothic';
    letter-spacing: 1px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    display: inline-block;
    width: 300px;
    transition: background .3s, color .3s;
    line-height: 50px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.btn:hover {
    background: #000;
    color: #F6EDE8;
}

.section .btn {
    margin-top: 80px;
}

#services {
    background: #abbab5;
}

#services .main-nav {
    padding: 0;
    position: relative;
    line-height: 90px;
}

#services .main-nav a {
    margin-right: 68px;
}

#services .main-nav.no-mobile a:last-of-type {
    margin: 0;
}

#services>.wrap {
    width: 100% !important;
    min-width: 960px;
}

#services .left,
#services .right {
    height: 700px;
    overflow: hidden;
    width: 50%;
    transition: height .3s;
}

#services .right {
    background: white;
}

.img-wrap img {
    width: 100%;
    position: relative;
}

#services .main-nav::after {
    content: '';
    display: block;
    border: 10px solid transparent;
    position: absolute;
    bottom: -20px;
    margin-left: 50%;
    left: -10px;
    border-top: 10px solid #abbab5;
    z-index: 99;
}

#services .right h1 {
    color: #a29075;
    font-size: 22px;
}

#services .right p {
    margin-top: 20px;
    letter-spacing: 0.4px;
    color: #000;
    line-height: 30px;
    font-size: 16px;
}

#services .right .wrap {
    margin: 0;
    padding: 60px 45px;
    width: calc(100% - 90px) !important;
    height: calc(100% - 120px);
}



.details {
    position: absolute;
    bottom: 60px;
    width: calc(100% - 90px)
}

table {
    margin-top: 20px;
    font-family: 'EngraversGothic';
    text-transform: uppercase;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
}

.menu table {
    margin: 0 70px;
    width: calc(100% - 98px);
    font-size: 1.5em;
}

table td,
table th {
    width: 48%;
    display: inline-block;
}

table th {
    font-weight: bold;
}

table tr {
    line-height: 50px;
    border-top: 1px solid #a29075;
    display: block;
}

table tr:last-child {
    border-bottom: 1px solid #a29075;
}



#price {
    background: #f6ede8;
    text-align: center;
    padding: 120px 0;
    position: relative;
}


#price h1 {
    text-transform: uppercase;
    font-size: 24px;
}

.hide {
    display: none !important;
}

ul.menu {
    position: relative;
    top: 40px;
    list-style-type: none;
}

ul.menu li {
    border-top: 1px solid black;
}

ul.menu li>p {
    cursor: pointer;
    text-align: left;
    font-size: 22px;
    padding: 36px 0;
    position: relative;
    display: block;
    transition: padding .6s, margin .6s;
}

ul.menu li>p.active {
    margin-bottom: 45px;
    padding-bottom: 0;
}

ul.menu li:last-child {
    border-bottom: 1px solid black;
}

ul.menu li>p::after {
    content: '';
    display: block;
    position: absolute;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") no-repeat;
    top: 43px;
    right: 41px;
    width: 8px;
    height: 11px;
    transform: rotate(90deg);
    transition: transform .6s;
}

ul.menu li>div {
    display: none;
    font-size: 11px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.price-number {
    width: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 19px;
}

.title td {
    font-weight: bold;
    text-transform: uppercase;
    width: 100% !important;
    margin: 20px 0;
}

.menu tr {
    line-height: 30px;
    text-align: left;
    border: none !important;
    font-weight: 300;
    font-size: 14px;
}

.menu td:nth-child(2),
.menu td:nth-child(3),
.menu th:nth-child(2),
.menu th:nth-child(3) {
    text-align: right;
}

.menu td:nth-child(2).range {
    text-align: right !important;
    left: 0 !important;
}

.menu table tr:hover td {
    opacity: .6;
    cursor: default;
}

.menu table tr.title:hover td {
    opacity: 1;
}

.interior-img {
    height: 500px;
}

.wrap.swiper {
    padding: 100px 0;
    max-height: 700px;
    width: 100% !important;
}

.scroller__bar {
    background: #a29075;
    height: 15px;
    width: 15px !important;
    border-radius: 100%;
    position: absolute;
    bottom: -7px;
}

.interior-wrap {
    position: relative;
    /*    padding-left: 100px;
    min-width: 860px;
    width: calc(100% - 100px);*/
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroll-bg-wrap {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
}


.scroll-bg {
    width: calc(100% - 100px);
    max-width: 960px;
    background: #a29075;
    height: 1px;
    margin: 0px auto;
    position: relative;
}

.scroll-bg::before,
.scroll-bg::after {
    content: '';
    position: absolute;
    background: #a29075;
    height: 1px;
    width: 20px;
    top: 0;
}

.scroll-bg::before {
    left: -20px;
}

.scroll-bg::after {
    right: -20px;
}

#maybe {
    background: url(../imgs/maybe.jpg) center no-repeat;
    background-size: cover;
    height: 700px;
    text-align: center;
}

#maybe .wrap {
    align-items: center;
    display: flex;
    height: 100%;
}

#maybe .btn {
    color: #fff;
    border-color: #fff;
}

#maybe .btn-wrap {
    margin-top: 30px;
    /*position: absolute;*/
    width: 100%;
}

#maybe .btn:hover {
    background: white;
    color: #B99263;
}

#maybe .text-wrap {
    width: 100%;
    /*position: absolute;*/
    /*top: 50%;*/
    margin: auto;
}

#maybe p {
    color: white;
    text-transform: uppercase;
    font-size: 5em;
}

#instagram {
    background: #fff;
    padding: 50px 0;
}

.inst-photo {
    margin-top: 30px;
    float: left;
    margin-right: 30px;
    width: 300px;
    display: block;
}

#instagram img {
    width: 100%;
    display: block;
}

.inst-photo:nth-of-type(3) {
    margin-right: 0;
}

#contacts {
    background: #e4e7de;
    min-height: 580px;
}

#contacts .wrap {
    width: 100% !important;
}

#contacts .left,
#contacts .right {
    width: 50%;
    height: 800px;
}

#contacts .left {
    text-align: center;
    padding-top: 150px;
    height: calc(100% - 150px);
}

#contacts .left p {
    display: block;
    text-transform: uppercase;
}

.lil {
    font-family: 'EngraversGothic';
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

#contacts .left p a {
    color: black;
    font-size: 22px;
}

#contacts .btn {
    margin: 0 auto;
    margin-top: 40px;
}

.btn:hover .telegram {
    fill: #ff0000;
}

.telegram {
    font-size: 1.5em;
    position: relative;
    top: 4px;
    left: 4px;
}

footer {
    text-align: center;
    font-family: 'EngraversGothic';
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 30px 0;
    font-size: 12px;
}

.socials {
    /*font-size: 1.8em;*/
    margin: 0 auto;
}

.socials a svg {
    text-decoration: none;
}

.socials a.instagram {
    /*margin-right: 30px;*/
}

.socials a {
    margin-right: 40px;
    text-decoration: none;
}

.socials a:last-child {
    margin: 0;
}

.socials a.instagram svg {
    width: 15px;
    height: 15px;
}

.socials a.facebook svg {
    width: 9px;
    height: 15px;
}

.telegram svg {
    width: 40px;
}

.socials a.vk svg {
    height: 15px;
    width: 25px;
}

footer a {
    color: black;
    text-decoration: underline;
}

footer p {
    margin-top: 20px;
    display: block;
}


.wrapper {
    position: fixed;
    width: calc(100% - 40px);
    background: rgba(255, 255, 255, 0);
    transition: background .6s;
    z-index: 999999;
    height: 70px;
    margin-top: 20px;
    left: 50%;
    margin-left: calc(-50% + 20px);
    min-width: 960px;
}

.wrapper.fixed {
    background: rgba(255, 255, 255, 1);
}

.main-nav .left,
.main-nav .right {
    z-index: 999;
}

.wrapper .main-nav {
    margin: 0 auto;
    padding: 0;
    line-height: 70px;
    width: 960px;
}

.logo svg .cls-1 {
    transition: fill .3s;
}

.fixed .logo svg .cls-1 {
    fill: black;
}

.main-nav {
    padding: 20px 0;
    transition: background .3s;
}

.fixed .main-nav a {
    color: black;
}

.fixed .main-nav a::after {
    background: black;
}

.main-nav a {
    z-index: 99999;
}

.mobile {
    display: none !important;
}

.email {
    color: black;
    border-bottom: 1px solid black;
}

footer,
.interior-wrap {
    background: #fff;
}

.fixed #Fill-1,
.fixed #instagram {
    fill: black;
}

#maybe,
#instagram,
.bg,
#contacts,
footer,
#services {
    min-width: 960px;
}

#scroller {
    min-height: 540px !important;
    max-height: 540px !important;
}

article#container {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'EngraversGothic';
    letter-spacing: 0.8px;
    color: #fff;
    font-weight: 300;
}


.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}





#burger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}


#burger .logo {
    margin: auto;
    color: #fff;
    font-size: 1.6em;
    transition: background;
    text-align: center;
    width: 100%;
    top: 0;
    padding-top: 12px;
    position: relative;
}

#burger .button {
    margin-top: 5px;
    color: #fff;
    top: 0px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    z-index: 99999999999999;
    width: 40px;
    height: 40px;
    transition: all .3s;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#burger .button .lines {
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: block;
    position: relative;
    transition: top .25s, transform .35s, background-color .3s;
}

.fixed .lines {
    background-color: #000 !important;
}

.fixed .lines::after {
    background-color: #000 !important;
}

#burger .button .lines::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: #fff;
    top: -7px;
    left: 0;
    transition: top .25s, transform .35s, background-color .3s;
}

#burger .button.active .lines {
    transform: rotateZ(45deg);
}

#burger .button.active .lines::after {
    transform: rotateZ(-90deg);
    top: 0;
}




#burger .menu {
    position: fixed;
    width: 100%;
    right: 0;
    background: #B0BDC6;
    padding-top: 48px;
    top: 0;
    z-index: -4;
    display: none;
    overflow: scroll;
    height: 100%;
    /*-webkit-overflow-scrolling: touch;*/
}

#burger .menu li {
    display: block;
    margin-bottom: 0;
    font-size: 1.4em;
    text-align: center;
    line-height: 58px;
}

#burger a {
    text-decoration: none;
}

.mobile {
    display: none !important;
}

#burger .menu li {
    border: none;
}

#burger .menu li a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

.fixed * {
    color: black !important;
    transition: color .3s;
}

.fixed #burger .menu {
    background: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    margin-top: 166px;
    /*transform: scale(.38);*/
    transform: scale(.5);
    padding: 20px;
}

.swiper-button-prev {
    left: -10px;
}

.swiper-button-next {
    right: -10px;
}

.big {
    width: 600px !important;
    font-size: 22px !important;
}

.range {
    position: relative;
    left: 85px;
    width: 39% !important;
    text-align: left !important;
}

#map {
    position: relative;
    overflow: hidden;
}

.socials-wrap {

    width: 100%;
    margin-top: 30px;
}

.socials-wrap .socials {
    text-align: center;
}

.wrap420 {
    position: relative;
    top: 40px;
}

#burger .btn.telegram-btn {
    color: #fff;
    border-color: #fff;
    margin-bottom: 80px;
}

.fixed #burger .btn.telegram-btn {
    border-color: black;
}

.telegram-icon {
    width: 14px;
    height: 12.4px;
    position: relative;
    top: 2px;
    left: 2px;
}

.telegram-icon .cls-1 {
    /*fill: red;*/
}

.telegram-icon .cls-2 {
    mask: url(#mask);
    fill: black;
}

.telegram-btn.no-mobile:hover .telegram-icon .cls-2 {
    mask: url(#mask);
    fill: #fff;
}



.telegram-icon .cls-1 {
    /*fill: red;*/
}

#burger .telegram-icon .cls-2 {
    mask: url(#mask);
    fill: #fff;
}







































/* Internet Explorer */


/** html .class { } */


/****************/

.interior-imgs {
    top: 0;
    left: 0;
    position: absolute;
}

.interior-img-wrap {
    position: absolute;
}

.interior-img-wrap img {
    max-height: 100%;
}

.interior-img-wrap span {
    position: absolute;
    font-size: 18px;
    text-transform: uppercase;
    bottom: -30px;
    color: #a29075;
    left: 0;
}

.img-1 {
    left: 0;
}

.img-1 img {
    height: 339px;
}



.img-2 {
    left: 544px;
    top: 0;
}

.img-2 img {
    height: 470px;
}

.img-3 {
    left: 957px;
    top: 0;
    z-index: 2;
}

.img-3 img {
    height: 339px;
}

.img-3_2 {
    left: 1369px;
    top: 130px;
    z-index: 1;
}

.img-3_2 img {
    height: 339px;
}

.img-4 {
    left: 1780px;
    top: 0;
    z-index: 1;
}

.img-4 img {
    height: 339px;
}

.img-5 {
    left: 2323px;
    top: 0;
    z-index: 1;
}

.img-5 img {
    height: 470px;
}


#arrow {
    text-align: center;
    height: 60px;
    width: 140px;
    transform: none;
    bottom: 40px;
    position: absolute;
    margin-left: 50%;
    left: -70px;
    transition: all .3s;
    opacity: 0;
    text-transform: uppercase;
    color: white;
    font-family: 'EngraversGothic';
    /*animation: arrow 1.2s ease infinite;*/
    font-size: 12px;
    letter-spacing: 1px;
}








/*
#arrow:hover {
    bottom: 60px;
}

@keyframes arrow {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    50% {

        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}*/

.service-price::after {
    content: " ₽";
}

.service-time::after {
    content: " мин";
}




/* ------ Header ----- */

#site-wrap {
    position: relative;
    z-index: 100;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  backface-visibility: hidden;
  color: #fff;
  font-family: 'EngraversGothic';
}


.header.is-sticky {
  color: #000;
}

.header.is-sticky .header-container {
  background: rgba(255, 255, 255, 1);
}

.header-container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-container {
  transition: background 0.25s;
  /* background: #fff; */
}

@media only screen and (min-width: 992px) {
  .header {
    top: 35px;
    left: 20px;
    right: 20px;
  }
}


.logo {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 14px;
  color: inherit;
  transition: 0.25s;
}

.logo .ico-logo {
  transition: none;
  fill: currentcolor;
  max-height: 100%;
  width: 9.68em;
  height: 1em;
}

@media only screen and (min-width: 992px) {
  .logo {
    font-size: 20px;
    margin: 0 40px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  white-space: nowrap;
  max-width: 940px;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .nav {
    height: 70px;
    justify-content: space-between;
  }
}

.nav__link {
  display: inline-block;
  position: relative;
  color: inherit;
  /* transition: 0.25s; */
}

.nav__link:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: currentColor;
  /* transition: inherit; */
}

.nav__link small {
  font-size: 10px;
}

.nav__link:hover:after, .nav__link.is-active:after {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .nav__link {
    /* color: #000; */
  }
}

.nav__btn {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  margin: -20px 0 0;
  cursor: pointer;
  z-index: 30;
  color: inherit;
}

.nav__btn:after, .nav__btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 20px;
  margin: 0 0 0 -10px;
  background: currentColor;
  transition: 0.25s;
}

.nav__btn:after {
  margin-top: -4px;
}

.nav__btn:before {
  margin-top: 4px;
}

.nav__dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #B0BDC6;
  z-index: 10;
  padding: 60px 0 20px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
  opacity: 0;
  visibility: hidden;
}

.nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav__menu > li {
  display: block;
  padding: 15px 0;
}

@media only screen and (min-width: 992px) {
  .nav__menu {
    display: flex;
    justify-content: space-between;
    width: 33.333%;
  }
}

.nav--desktop {
  display: none;
}

@media only screen and (min-width: 992px) {
  .nav--desktop {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .nav--mobile {
    display: none;
  }
}

.is-navOpen .header {
    color: #fff;
}

.is-navOpen .logo {
  color: #fff;
}

.is-navOpen .nav__btn:after, .is-navOpen .nav__btn:before {
  background: #fff;
}

.is-navOpen .nav__btn:after {
  margin-top: 0;
  transform: rotate(45deg);
}

.is-navOpen .nav__btn:before {
  margin-top: 0;
  transform: rotate(-45deg);
}

.is-navOpen .nav__dropdown {
  opacity: 1;
  visibility: visible;
}