---
title: Keep Looking
bodyClass: page-index
---
extends shared/_layout
block content
    

    // Hero :: Start
    .hero
        a(href="#").hero__item
            figure.hero__item-image
                img(src="img/bg-1.jpg", alt="")
            span.hero__item-text САЛОН
        a(href="#").hero__item
            figure.hero__item-image
                img(src="img/bg-2.jpg", alt="")
            span.hero__item-text МАГАЗИН
        a(href="#").hero__item
            figure.hero__item-image
                img(src="img/bg-3.jpg", alt="")
            span.hero__item-text КУРСЫ

    // Hero :: End

  

    
