---
title: Styleguide - Keep Looking
bodyClass: page-styleguide
---
extends shared/_layout
block content
  
    .styleguide
        .container

            .row
                .col-sm-6

                    h1 Заголовок h1
                    h2 Заголовок h2
                    h3 Заголовок h3
                    h4 Заголовок h4
                    h5 Заголовок h5
                    h6 Заголовок h6

                .col-sm-6

                    ul.ui-ul
                        li Хорус традиционен. Кластерное вибрато, по определению, самостоятельно.
                        li Синкопа многопланово просветляет тон-полутоновый дисторшн.
                        li Живая сессия имеет разнокомпонентный доминантсептаккорд.

                    ul.ui-ol
                        li Хорус традиционен. Кластерное вибрато, по определению, самостоятельно.
                        li Синкопа многопланово просветляет тон-полутоновый дисторшн.
                        li Живая сессия имеет разнокомпонентный доминантсептаккорд.


            blockquote Хорус традиционен. Кластерное вибрато, по определению, самостоятельно. Синкопа многопланово просветляет тон-полутоновый дисторшн. Живая сессия имеет разнокомпонентный доминантсептаккорд.

            p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Оксмокс вершину реторический имени предложения себя алфавит осталось всемогущая силуэт буквоград одна. Наш агенство встретил дорогу! Вскоре осталось, дороге большой.

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus, recusandae sapiente maxime repellendus, hic velit vel nisi iure porro, quibusdam delectus eaque, quo. Fuga magnam necessitatibus tempore repudiandae odit.
            
            br

            .row

                .col-md-6
                    
                    label.ui-field
                        input(type="text", placeholder="" required).ui-input
                        span.ui-field__label Email
                    
                    label.ui-field
                        input(type="text", placeholder="" required).ui-input.is-error
                        span.ui-field__label Телефон

                    label.ui-field
                        select.ui-select(data-placeholder="" required)
                            option
                            option Все страны
                            option Россия
                            option Австралия
                            option Австрия
                            option Азербайджан
                            option Аландские о-ва
                            option Албания
                            option 8-й пункт списка
                            option 9-й пункт списка
                            option 10-й пункт списка
                        span.ui-field__label Select

                    label.ui-field
                        textarea(name="", cols="30", rows="10" required).ui-textarea
                        span.ui-field__label Textarea

                    button.btn.btn--block Button
                    br
                    button.btn.btn--block.btn--purple Button

                .col-md-6

                    
                    table.ui-table
                        thead
                            tr
                                th ТИП
                                th.text-right НАРАЩИВАНИЕ
                        tbody
                            tr
                                td АРЕНДА ВИЗАЖИСТА НА ДЕНЬ
                                td.text-right 40 000 ₽
                            tr
                                td АРЕНДА СТИЛИСТА НА ДЕНЬ
                                td.text-right 40 000 ₽
                            tr
                                td СВАДЕБНЫЙ МАКИЯЖ
                                td.text-right 6 000 ₽
                            tr
                                td СВАДЕБНЫЙ МАКИЯЖ (ВЫЕЗД) + ТРАНСФЕР
                                td.text-right 12 000 ₽
                            tr
                                td СВАДЕБНАЯ ПРИЧЕСКА
                                td.text-right 6 000 ₽
                            tr
                                td СВАДЕБНАЯ ПРИЧЕСКА (ВЫЕЗД) + ТРАНСФЕР 
                                td.text-right 12 000 ₽

            
            br
            br
            br

    
