.ico-arrow {
  width: 2em;
  height: 1em;
  fill: none;
}
.ico-close-mini {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-delete {
  width: 0.83em;
  height: 1em;
  fill: none;
}
.ico-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.ico-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-like {
  width: 1.2em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 9.68em;
  height: 1em;
  fill: none;
}
.ico-point {
  width: 0.36em;
  height: 1em;
  fill: none;
}
